@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Coda:wght@400;800&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

header img{
    width: 75px;
    height: auto;
    margin: 20px;
}

body{
    font-family: quicksand, sans-serif;
    background-color: #ffffff;
}

h1{
    font-size: 2.5em;
    color: #68B1FF;
}

/* voor dark en light mode.. */
#mode{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 35px;
    border-radius: 999px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-color: white;
}#mode:hover svg{
    fill: #68B1FF;
    transition: 0.2s ease-in-out;
}

#search{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    height: 5vh;
    width: 25vw;
    border-radius: 999px 0 0 999px ;
    border: 2px solid #68B1FF;
    padding: 10px;
    font-family: quicksand, sans-serif;
    font-weight: bold;
    font-style: italic;
}input:focus{
    outline: none;
}

#search-btn{
    height: 5vh;
    width: 75px;
    border-radius: 0 999px 999px 0;
    color: white;
    background-color: #68B1FF;
    border: none;
    font-family: quicksand, sans-serif;
    font-weight: bold;
    cursor: pointer;
}#search-btn:hover{
    background-color: #84bfff;
}

label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.weather-img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather-icon{
    height: auto;
    width: 100%;
    padding: 15px;

}

#result-cont{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(241, 240, 240);
    width: 90%;
    height: auto;
    margin: 30px auto;
}

#main-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 30vw;
    height: auto;
}

hr{
    margin: 20px;
}

#temp{
    font-size: 50px;
}
#city{
    font-size: 30px;
}
#desc, #date, #day{
    font-size: 20px;
}

#weather-results{
    background-color: rgb(241, 240, 240);
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 5px;
}

.result-tab{
    background-color: #68B1FF;
    color: white;
    font-family: quicksand, sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    padding: 10px 15px;
    min-width: 220px;
    height: 20vh;
    margin: 20px;
    border-radius: 15px;
    text-align: left;
}

.w-info{
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
}

.title{
    font-family: quicksand, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

#external-link{
    text-decoration: none;
    color: #68B1FF;
}

.middle{
    text-align: center;
}

/* DARK & LIGHT MODE */

.dark-mode{
    background-color: #252526;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.dark-mode body{
    background-color: #252526;
}
.dark-mode #result-cont{
    background-color: #2e2e2e;
}

.dark-mode h1{
    color: #84bfff;
}

.dark-mode input{
    background-color: #252526;
    color: #ffffff;
    border: 2px solid #84bfff;
    transition: 0.3s ease-in-out;
}

.dark-mode #search-btn{
    background-color: #84bfff;
    color: #ffffff;
}

.dark-mode #search-btn:hover{
    background-color: #68B1FF;
}

.dark-mode p {
    color: white;
}

.dark-mode #weather-results{
    background-color: #2e2e2e;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.dark-mode #main-results{
    background-color: #252526;
    transition: 0.3s ease-in-out;
}

.dark-mode #mode{
    background-color: transparent;
}

@media screen and (max-width: 877px){
    #result-cont{
        flex-direction: column;
        align-items: center;
    }
    #main-results, #weather-results{
        width: 90vw;
    }
    #main-results{
        margin-bottom: 20px;
    }
    .result-tab{
        width: 40%;
        min-width: 0;
    }
    #city{
        margin-bottom: 10vh;
    }
    #data{
        margin-bottom: 10vh;
    }
}

@media screen and (max-width: 768px) {
    body{
        height: auto;
    }
    #result-cont{
        flex-direction: column;
        align-items: center;
    }
    #main-results, #weather-results{
        width: 90vw;
    }
    #main-results{
        margin-bottom: 20px;
    }
    .result-tab{
        width: 40%;
        min-width: 0;
    }
    input{
        width: 50vw;
    }
    #city{
        margin-bottom: 10vh;
    }
    #data{
        margin-bottom: 10vh;
    }
}

@media screen and (max-width: 480px) {
    header img{
        width: 100px;
    }
    h1{
        font-size: 2em;
        display: none;
    }
    input{
        width: 50vw;
    }
    #search{
        flex-direction: column;
        align-items: center;
    }
    #search-btn{
        width: 60px;
    }
    .result-tab{
        min-width: 90%;
        height: auto;
    }
}