@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Coda:wght@400;800&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

header img{
    width: 75px;
    height: auto;
    margin: 20px;
}

body{
    font-family: quicksand, sans-serif;
    background-color: #ffffff;
}

h1{
    font-size: 2.5em;
    color: #68B1FF;
}

/* voor dark en light mode.. */
#mode{
    height: 20px;
    width: 20px;
    border-radius: 999px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
}#mode:hover svg{
    fill: #68B1FF;
    transition: 0.2s ease-in-out;
}

input{
    height: 5vh;
    width: 25vw;
    border-radius: 999px 0 0 999px ;
    border: 2px solid #68B1FF;
    padding: 10px;
    font-family: quicksand, sans-serif;
    font-weight: bold;
    font-style: italic;
}input:focus{
    outline: none;
}

#search-btn{
    height: 5vh;
    width: 75px;
    border-radius: 0 999px 999px 0;
    color: white;
    background-color: #68B1FF;
    border: none;
    font-family: quicksand, sans-serif;
    font-weight: bold;
    cursor: pointer;
}#search-btn:hover{
    background-color: #84bfff;
}

label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.weather-img{
    background-color: #68B1FF;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

#result-cont{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(241, 240, 240);
    width: 90%;
    height: auto;
    margin: 30px auto;
}

#main-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 30vw;
    height: auto;
}

hr{
    margin: 20px;
}

#temp{
    font-size: 50px;
}
#city{
    font-size: 30px;
}
#desc, #date, #day{
    font-size: 20px;
}

#weather-results{
    background-color: rgb(241, 240, 240);
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 5px;
}

.result-tab{
    background-color: #68B1FF;
    color: white;
    font-family: quicksand, sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    padding: 10px 15px;
    min-width: 220px;
    height: 20vh;
    margin: 20px;
    border-radius: 15px;
    text-align: left;
}

.w-info{
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
}

.title{
    font-family: quicksand, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

#external-link{
    text-decoration: none;
    color: #68B1FF;
}

.middle{
    text-align: center;
}